<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67060338740-3tote1h23v7ifa31l8mlagajbi21p81m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67060338740-3tote1h23v7ifa31l8mlagajbi21p81m</string>
	<key>API_KEY</key>
	<string>AIzaSyAzzBWAamkU4l3_49xOM0N_T3mCQo_VT0E</string>
	<key>GCM_SENDER_ID</key>
	<string>67060338740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Artur.Organization.VKClient</string>
	<key>PROJECT_ID</key>
	<string>vkclientfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>vkclientfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67060338740:ios:a17d37282f56236a4d7a61</string>
</dict>
</plist>